#manageMembersPagination{
     display: flex;
     flex-direction: row;
     justify-content: center; 
     width: 100%;
     padding: 10px;
}

#manageMembersPagination div{
    padding: 8px;
    background-color: darkblue;
    color:white;
    margin-left: 5px;
    cursor: pointer;
}

#manageMembersPagination div:last-child{
    
    margin-left: none;
}